#header1 {
    border: solid 2px;
    width: 100%;
    height: 100%;
    padding-left: 0.07%;
    background-color: rgb(0, 0, 0);
}

#fontheader {
    font-family: "Gruppo";
    font-size: 27px;
    font-weight: bold;
    color: gold;
    font-style: bold;
    margin-left: 7%;
}

#headerlogo {
    max-height: 100%;
    max-width: 100%;
    float: left;
    margin-left: 0.6%;
}

body {
    background-color: black;
    margin: 0;
}

hr {
    height: 1px;
    border-width: 0;
    color: aliceblue;
    background: linear-gradient(142deg, rgba(255, 215, 0, 1) 0%, rgba(173, 216, 230, 0.5) 50%, rgba(192, 192, 192, 1) 100%);
}

#preislisten {}